html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}

@font-face {
    font-family: 'Azonix';
    src: url(Fonts/Azonix.otf);
}

@font-face {
    font-family: 'Moon';
    src: url(Fonts/Moon.otf);
}

main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.backButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 8vw;
    height: 8vh;
    transform: scaleX(-1);
    margin-top: 3%;
}

.backButton:hover {
    margin-left: -1;
}

#infoBoard{
    display: flex;
    width: 70vw;
    height: 80vh;
    background-color: black;
    color: white;
    border-radius: 400px 25px 25px 400px;
    box-shadow: 0px 0px 3px 3px black;
}

.verticalFlex {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.horizontalFlex {
    display: flex;
}

.marginSetup {
    margin: 2.5%;
}

.infoBoardTitle {
    font-family: 'Azonix';
    font-size: 10vh;
}

.infoBoardText {
    font-family: 'Moon';
    font-size: 2.5vh;
}

.infoBoardInfoTitle {
    font-family: 'Azonix';
    font-size: 3vh;
}

.infoBoardInfoSpacing {
    padding-bottom: 8%;
}

.infoBoardInfoText {
    font-family: 'Moon';
    font-size: 2.5vh;
}

img{
    width: 100%;
    height: 100%;
}

.blur{
    background: hsl(0% 100% 0% / 0.1);
    backdrop-filter: blur(1rem);
}



/*.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 4%;
    height: 5%;
}

background: hsl(0% 100% 0% / 0.1);
backdrop-filter: blur(1rem);

:root{
    font-size: 2vh;
    --text-primary: #0ff;
    --text-secondary: #f0f;
    --bg-primary: #000;
    --bg-secondary: #fff;
}

.navbar{
    margin-top: 0%;
    margin-left: 95%;
    width: 30vh;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-secondary);
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 2vh;
    color: var(--text-primary);
    text-decoration: none;
}

.nav-item{
    width: 100%;
}

.link-text{
    display: none;
    margin-left: 1vh;
}


.navbar:hover{
    width: 15vh;
}

.navbar:hover .link-text{
    display: block;
}*/